// Breakpoint mixin for responsive design
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 23.4375rem) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 48rem) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 90rem) {
      @content;
    }
  }
}

// Flexbox mixin
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

// Card border top mixin
@mixin card-border-top($color) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $card-border-width;
    background-color: $color;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }
}
