// Card Component
.card {
  position: relative;
  background-color: $color-neutral-white;
  border-radius: $card-border-radius;
  padding: $card-padding;
  width: 100%;
  max-width: $card-width;
  height: $card-height;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  @include respond-to(tablet) {
    justify-self: center;
  }

  @include respond-to(desktop) {
    justify-self: auto;
  }

  // Card variants with colored top borders
  &--cyan {
    @include card-border-top($color-primary-cyan);
  }

  &--red {
    @include card-border-top($color-primary-red);
  }

  &--orange {
    @include card-border-top($color-primary-orange);
  }

  &--blue {
    @include card-border-top($color-primary-blue);
  }

  // Card Elements
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.375rem; // 6px
  }

  &__title {
    @extend %text-preset-3;
    margin: 0;
  }

  &__description {
    @extend %text-preset-5;
    margin: 0;
  }

  &__icon {
    align-self: flex-end;
    width: 4rem; // 64px
    height: 4rem; // 64px
    object-fit: contain;
  }
}
