// CSS Reset and Base Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;
  color: $color-neutral-grey-400;
  background-color: $color-neutral-background;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: inherit;
}

p {
  margin: 0;
}
